
@{
    ViewData["Title"] = "HienSanPham";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model List<Sach>

<section id="special-offer" class="bookshelf">

	<div class="section-header align-center">
		<h2 class="section-title">Trending</h2>
	</div>

	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="product-list" data-aos="fade-up">

					@foreach (var item in Model)
					{

						<figure class="product-style slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 297px;" data-slick-index="1" aria-hidden="false">
							<img src=@Url.Content("../Library/images/" + item.AnhDdsach) alt="Books" class="product-item">
							<button type="button" class="add-to-cart" data-product-tile="add-to-cart" tabindex="0">Add to Cart</button>
							<figcaption>
								<h3>@item.TenSach</h3>
								<p>Sanchit Howdy</p>
								<div class="item-price">
									<span class="prev-price">$ 30.00</span>$ 38.00
								</div>
							</figcaption>
						</figure>
					}
					<!--grid-->
				</div>
			</div><!--inner-content-->
		</div>
	</div>
</section>





