@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@using QLThuVien.Models
@model List<Sach>

@foreach (var sach in Model)
{
    <div class="inner-content">
        <div class="product-list" data-aos="fade-up">
            <div class="col-md-3">
                <figure class="product-style">
                    <img src="../ImagesBook/@sach.TenFileAnhDd" alt="Books" class="product-item">
                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                        Add to
                        Bag
                    </button>
                    <figcaption>
                        <h3>@sach.TenSach</h3>
                        <p>@sach.TacGia</p>
                        <div class="item-price"><a>View more</a></div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
}
