
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="../Library/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../Library/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="../Library/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="../Library/css/style.css">

    <!-- script
    ================================================== -->
    <script src="../Library/js/modernizr.js"></script>

</head>

<body>

    <div id="header-wrap">
        <div class="top-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 logo">
                        <a href="#"><img src="../Library/images/logo.png" /></a>
                    </div>
                    <div class="col-md-6 menu2">
                        <div class="action-menu">
                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                    <i class="icon icon-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box">
                                    <input class="search-field text search-input" placeholder="Search" type="search">
                                </form>
                            </div>
                        </div>
                        <a href="#" class="user-account for-buy">
                            <i class="icon icon-user"></i>
                            <span>Tài khoản</span>
                        </a>
                        <a href="shoping-cart.html" class="cart for-buy"><i class="icon icon-clipboard"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div><!--top-content-->
    @await Html.PartialAsync("_PartialHeader");

    <!--header-wrap-->

    <section id="billboard">

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <button class="prev slick-arrow">
                        <i class="icon icon-arrow-left"></i>
                    </button>

                    <div class="main-slider pattern-overlay">
                        <div class="slider-item">
                            <div class="banner-content">
                                <h2 class="banner-title">Life of the Wild</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div><!--banner-content-->
                            <img src="../Library/images/main-banner1.jpg" alt="banner" class="banner-image">
                        </div><!--slider-item-->

                        <div class="slider-item">
                            <div class="banner-content">
                                <h2 class="banner-title">Birds gonna be Happy</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div><!--banner-content-->
                            <img src="../Library/images/main-banner2.jpg" alt="banner" class="banner-image">
                        </div><!--slider-item-->

                    </div><!--slider-->

                    <button class="next slick-arrow">
                        <i class="icon icon-arrow-right"></i>
                    </button>

                </div>
            </div>
        </div>
    </section>
    <section id="special-offer" class="bookshelf">

        <div class="section-header align-center">
            <h2 class="section-title">Trending</h2>
        </div>

        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>

    <section id="featured-books">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header align-center">
                        <h2 class="section-title">Newest</h2>
                    </div>

                    <div class="product-list" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-3">
                                <figure class="product-style">
                                    <img src="../Library/images/product-item1.jpg" alt="Books" class="product-item">
                                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <p>Armor Ramsey</p>
                                        <div class="item-price">$ 40.00</div>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-md-3">
                                <figure class="product-style">
                                    <img src="../Library/images/product-item1.jpg" alt="Books" class="product-item">
                                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <p>Armor Ramsey</p>
                                        <div class="item-price">$ 40.00</div>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-md-3">
                                <figure class="product-style">
                                    <img src="../Library/images/product-item2.jpg" alt="Books" class="product-item">
                                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                    <figcaption>
                                        <h3>Great travel at desert</h3>
                                        <p>Sanchit Howdy</p>
                                        <div class="item-price">$ 38.00</div>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-md-3">
                                <figure class="product-style">
                                    <img src="../Library/images/product-item3.jpg" alt="Books" class="product-item">
                                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                    <figcaption>
                                        <h3>The lady beauty Scarlett</h3>
                                        <p>Arthur Doyle</p>
                                        <div class="item-price">$ 45.00</div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div><!--ft-books-slider-->
                    </div><!--grid-->
                </div><!--inner-content-->
            </div>
        </div>
    </section>



    <section id="popular-books" class="bookshelf">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header align-center">
                        <h2 class="section-title">Popular Books</h2>
                    </div>
                    <ul class="tabs">
                        <li data-tab-target="#all-genre" class="active tab">All Genre</li>
                        <li data-tab-target="#business" class="tab">Business</li>
                        <li data-tab-target="#technology" class="tab">Technology</li>
                        <li data-tab-target="#romantic" class="tab">Romantic</li>
                        <li data-tab-target="#adventure" class="tab">Adventure</li>
                        <li data-tab-target="#fictional" class="tab">Fictional</li>
                    </ul>

                    <div class="tab-content">
                        <div id="all-genre" data-tab-content class="active">
                            <div class="row">

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item1.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Portrait photography</h3>
                                            <p>Adam Silber</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item2.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Once upon a time</h3>
                                            <p>Klien Marry</p>
                                            <div class="item-price">$ 35.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item3.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Tips of simple lifestyle</h3>
                                            <p>Bratt Smith</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item4.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Just felt from outside</h3>
                                            <p>Nicole Wilson</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item5.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <p>Marmik Lama</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item6.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <p>Sanchit Howdy</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item7.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item8.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>

                        </div>
                        <div id="business" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item2.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <p>Marmik Lama</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item4.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <p>Sanchit Howdy</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item6.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item8.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>

                        <div id="technology" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item1.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <p>Marmik Lama</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item3.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <p>Sanchit Howdy</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item5.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item7.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="romantic" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item1.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <p>Marmik Lama</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item3.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <p>Sanchit Howdy</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item5.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item7.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="adventure" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item5.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item7.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div id="fictional" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item5.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <div class="col-md-3">
                                    <figure class="product-style">
                                        <img src="../Library/images/tab-item7.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <p>Armor Ramsey</p>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!--inner-tabs-->

            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="btn-wrap align-right">
                        <a href="#" class="btn-accent-arrow">View all products <i class="icon icon-ns-arrow-right"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header align-center">
                        <div class="title">
                            <h2 class="section-title">Social events</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <article class="column" data-aos="fade-up">
                                    <figure>
                                        <a href="#" class="image-hvr-effect">
                                            <img src="../Library/images/post-img1.jpg" alt="post" class="post-image">
                                        </a>
                                    </figure>
                                    <div class="post-item">
                                        <div class="meta-date">Mar 30, 2021</div>
                                        <h3><a href="#">Reading books always makes the moments happy</a></h3>

                                        <div class="links-element">
                                            <div class="categories">inspiration</div>
                                            <div class="social-links">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="icon icon-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon icon-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon icon-behance-square"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!--links-element-->

                                    </div>
                                </article>

                            </div>
                            <div class="col-md-4">

                                <article class="column" data-aos="fade-down">
                                    <figure>
                                        <a href="#" class="image-hvr-effect">
                                            <img src="../Library/images/post-img2.jpg" alt="post" class="post-image">
                                        </a>
                                    </figure>
                                    <div class="post-item">
                                        <div class="meta-date">Mar 29, 2021</div>
                                        <h3><a href="#">Reading books always makes the moments happy</a></h3>

                                        <div class="links-element">
                                            <div class="categories">inspiration</div>
                                            <div class="social-links">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="icon icon-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon icon-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon icon-behance-square"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!--links-element-->

                                    </div>
                                </article>

                            </div>
                            <div class="col-md-4">

                                <article class="column" data-aos="fade-up">
                                    <figure>
                                        <a href="#" class="image-hvr-effect">
                                            <img src="../Library/images/post-img3.jpg" alt="post" class="post-image">
                                        </a>
                                    </figure>
                                    <div class="post-item">
                                        <div class="meta-date">Feb 27, 2021</div>
                                        <h3><a href="#">Reading books always makes the moments happy</a></h3>

                                        <div class="links-element">
                                            <div class="categories">inspiration</div>
                                            <div class="social-links">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="icon icon-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon icon-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="icon icon-behance-square"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!--links-element-->

                                    </div>
                                </article>

                            </div>

                        </div>

                        <div class="row">

                            <div class="btn-wrap align-center">
                                <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Read All Articles<i class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Html.PartialAsync("_PartialFooter");

    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>© 2022 All rights reserved. Free HTML Template by <a href="https://www.templatesjungle.com/" target="_blank">TemplatesJungle</a></p>
                            </div>
                            <div class="col-md-6">
                                <div class="social-links align-right">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon icon-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-youtube-play"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-behance-square"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--grid-->
                </div><!--footer-bottom-content-->
            </div>
        </div>
    </div>

    <script src="../Library/js/jquery-1.11.0.min.js"></script>
    <script src="../Library/js/plugins.js"></script>
    <script src="../Library/js/script.js"></script>

</body>
</html>	